<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<link rel="stylesheet" href="resources/css/password.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="resources/js/password.js"></script>
</head>
<body>
<section>
<div align="center">
<div class="logo">
		<a href="/"><img alt="mainlogo" src="/resources/img/mainlogo.png" id="mainlogo"></a>
</div>

<div id="all">
<h3 style="color: #967B55;">CHANGE PASSWORD</h3>

<form method="post" th:action="@{password}">
<table>
<tr>
			<th><label>이메일</label></th>
          	<td><input type="text" name="email" class="email" id="id"   placeholder="email을 입력하세요" oninput = "checkId()"/>
          	<input type="button" id="sendMail" th:value="인증" />
        	<div class="id_ok" style=" display:none;">가입된 이메일이 아닙니다.</div>
			<div class="id_already" style=" display: none;">인증을 진행해주세요.</div>
			<div id="email_ck" style="color:red" >이메일을 입력하세요.</div>
			</td>
		</tr>
		<tr>
		<td></td>
			<td><input type="text" placeholder="인증 키 입력" style="display: none;"
					class="compare"><span class="compare-text"
					style="display: none;">불일치</span>
			</td>
		</tr >
			<tr id="password_change" style=" display:none;">
			<th><label>새로운 패스워드</label></th>
			<td ><input type="password" id="password" name="password" placeholder="password을 입력하세요">
			<div id="password_ck" style="color:red" >비밀번호를 입력하세요.</div>
			<div id="password_ck2" style="color:red" >비밀번호를 6자 이상 입력하세요.</div>
			</td>
			
		</tr>
		<tr id="password_change2" style=" display:none;">
			<th><label>새로운 패스워드 확인</label></th>
			<td><input type="password" id="password2" name="password2" placeholder="password을 입력하세요">
			<div class="alert alert-success" id="alert-success" style="color:green" >비밀번호가 일치합니다.</div> 
			<div class="alert alert-danger" id="alert-danger" style="color:red" >비밀번호가 일치하지 않습니다.</div>
			</td>
		</tr>
		<tr>
		 <td colspan="2" style="text-align: center">
		 <input type=submit id="submit" value="비밀번호 변경">
		 <input type="button" id="login" th:value="처음으로" th:onclick="location.href='/login'"/>
		 </td>
		</tr>
</table>
</form>
</div>
</div>
</section>

</body>
</html>