<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아보카도</title>
<link rel="stylesheet" href="/resources/css/header.css">
<link rel="stylesheet" href="/resources/css/footer.css">
<link rel="stylesheet" href="/resources/css/set_menu.css">
</head>
<body>
	<div th:fragment="menu" th:replace="include/header :: menu"></div>
	<div id="all">
	<div class="set_navbar">
		<a href="/mealkit/chooseSet?category=1">벌크업 set</a>
		<a href="/mealkit/chooseSet?category=2">몸짱 set</a>
		<a href="/mealkit/chooseSet?category=3">바프 set</a>
		<a href="/mealkit/chooseSet?category=4">다이어트 set</a>
		<a href="/mealkit/chooseSet?category=5">채식 set</a>
	</div>
	<h1>바프 set</h1>
	
	<div class="detail_container">
			<ul th:each="set : ${setList}">
				<li>
					<a th:href="@{/mealkit/chooseDetail(idx_list=${set.idx_list},price=${set.price},name=${set.name})}" 
					th:text="${set.name}">세트명</a>
				</li>
				<li th:text="|${set.price}원|">가격</li>
			</ul>
	</div>
	</div>
	<div th:fragment="footer" th:replace="include/footer :: footer"></div>
</body>
</html>